form a {
  margin-left: 10px;
}
.btn {
  margin-top: 10px;
}
.sexLabel {
  margin-top: 10px;
}
.RdioBtn {
  margin-right: 10px;
}
.form-group {
  margin-top: 10px;
}

.title-head {
  margin-top: 10px;
  text-align: center;
}

.welcome {
  margin-top: 50px;
}
